<!DOCTYPE html>
<html>
<head>
    <title>Message Content</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }
        .content {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background: #f8f9fa;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .message {
            margin: 20px 0;
            padding: 15px;
            background: white;
            border-radius: 4px;
            border-left: 4px solid #007bff;
            text-align: justify;
        }
        .timestamp {
            color: #6c757d;
            font-size: 0.9em;
            margin-top: 10px;
        }
        .close-btn {
            margin-top: 20px;
            padding: 8px 16px;
            background-color: #111212;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .close-btn:hover {
            background-color: #de0a0a;
        }
        .accept-btn {
            margin-top: 20px;
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .accept-btn:hover {
            background-color: #246703;
        }
        .buttonContainer {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
    <script src="/dist/sdk.umd.js"></script>
</head>
<body>
<div class="content">
    <h2>Message Received</h2>
    <div class="message">
        <%= message %>
        <div class="timestamp">Order Created at: <%= timestamp %></div>
        <div class="timestamp">Current Timestamp: <%= currentTimestamp %></div>
    </div>
    <div class="buttonContainer">
    <button class="close-btn" onclick="handleClose()">Close</button>
    <button class="accept-btn" onclick="handleAccept()">Accept</button>
    </div>
</div>

<script>
    function handleClose() {
        if (window.opener) {
            window.close();
        } else {
            window.parent.postMessage({ type: 'zoid_close' }, '*');
        }
    }

    function handleAccept() {
        if(window.xprops.onApprove){
            window.xprops.onApprove();
            setTimeout(function(){ window.close(); }, 0);
        }
    }
</script>
</body>
</html>